<%= form_for @visit, validate: true, html: {role: "form", class:"modal-form"} do |f| %>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add / Update Protocol</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label :protocol %><br>
        <%= f.select(:protocol_id,
          Protocol.all.map {|p| [ p.name, p.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
      <div class="form-group">
        <%= f.label :visit_type %><br>
        <%= f.select(:visit_type_id,
          VisitType.all.map {|v| [ v.name, v.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :duration %><br>
        <%= f.text_field :duration, class: 'form-control'%>
      </div>
      <% if current_user.finance_person? %>
      <div class="form-group">
        <%= f.label :price %><br>
        <%= f.text_field :price, class: 'form-control'%>
      </div>
      <% end %>
      <div class="form-group">
        <%= f.label :activities %><br>
        <%= f.text_field :activities, class: 'form-control'%>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<% end %>
