<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% unless error.blank? %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= error %></strong>
  </div>
<% end %>

<h1>Protocols Visits</h1>

<table id="visits" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Protocol</th>
      <th>Visit Name</th>
      <th>Visit Type</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td style="display:none;" class="id"><%= visit.id %></td>
        <td><%= visit.protocol_name %></td>
        <td><%= visit.name %></td>
        <td><%= visit.visit_type_name %></td>
        <td><%= visit.duration %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="<%= root_path %>" class="btn btn-default">Back</a>
<button type="button" class="btn btn-primary" onclick="openDialog('visit_modal','<%= new_visit_path %>')">New Visit</button>
<div id="visit_modal" class="modal fade" role="dialog"></div>

<script>
$( document ).ready(function() {
  formatTable('visits', 'visit_modal', 'visits');
});
</script>
