<%= form_for @sponsor_fee, validate: true, html: {role: "form", class:"modal-form"} do |f| %>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add / Update Sponsor Fee</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label :sponsor %><br>
        <%= f.select(:sponsor_id,
          Sponsor.all.map {|u| [ u.name, u.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
      <div class="form-group">
        <%= f.label :visit_type %><br>
        <%= f.select(:visit_type_id,
          VisitType.all.map {|u| [ u.name, u.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
      <div class="form-group">
        <%= f.label :fee_percentage %><br>
        <%= f.text_field :fee_percentage, class: 'form-control'%>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<% end %>
