<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>

<% if current_user.finance_person? %>

<h1>Payments</h1>

<table id="sponsor_charges" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Receiver</th>
      <th>Reason</th>
      <th>Amount</th>
      <th>Created Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sponsor_charges.each do |sponsor_charge| %>
      <tr>
        <td style="display:none;" class="id"><%= sponsor_charge.id %></td>
        <td><%= sponsor_charge.sponsor.name %></td>
        <td><%= sponsor_charge.reason %></td>
        <td><%= sponsor_charge.amount %></td>
        <td><%= sponsor_charge.created_at %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="<%= root_path %>" class="btn btn-default">Back</a>

<% end %>

<script>
$( document ).ready(function() {
  formatTable('sponsor_charges', 'sponsor_charges_modal', 'sponsor_charges');
});
</script>
