<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>

<h1>Listado Usarios</h1>

<table id="users" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="display:none;" class="id"><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="<%= root_path %>" class="btn btn-default">Back</a>
<button type="button" class="btn btn-primary" onclick="openDialog('user_modal','<%= new_user_path %>')">New User</button>

<div id="user_modal" class="modal fade" role="dialog"></div>

<script>
$( document ).ready(function() {
  formatTable('users', 'user_modal', 'users');
});
</script>
