<h1>Welcome to CIMMDP Intranet</h1>
<p> Here you can access the CIMMDP intranet modules by clicking on them. </p>

<div>
  Management
  <ul>
    <li><%= link_to 'Patients', patients_path %></li>
    <li><%= link_to 'Appointments', appointments_path %></li>
  </ul>

  <% if current_user.finance_person? %>
  Finance
  <ul>
    <li><%= link_to 'Payments', payments_path %></li>
    <li><%= link_to 'Sponsor Fees', sponsor_fees_path %></li>
    <li><%= link_to 'Sponsor Charges', sponsor_charges_path %></li>
  </ul>
  <% end %>

  Admin
  <ul>
    <li><%= link_to 'Sponsors', sponsors_path %></li>
    <li><%= link_to 'Protocols', protocols_path %></li>
    <li><%= link_to 'Visits', visits_path %></li>
    <li><%= link_to 'Visit Types', visit_types_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Diseases', diseases_path %></li>
    <li><%= link_to 'Refering Doctors', doctors_path %></li>
  </ul>
</div>
