<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>

<h1>Sponsors</h1>

<table id="sponsors" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td style="display:none;" class="id"><%= sponsor.id %></td>
        <td><%= sponsor.name %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="<%= root_path %>" class="btn btn-default">Back</a>
<button type="button" class="btn btn-primary" onclick="openDialog('sponsor_modal','<%= new_sponsor_path %>')">New Sponsor</button>
<div id="sponsor_modal" class="modal fade" role="dialog"></div>

<script>
$( document ).ready(function() {
  formatTable('sponsors', 'sponsor_modal', 'sponsors');
});
</script>
