<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>

<h1>Listado Enfermendades</h1>

<%= form_tag diseases_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table id="diseases" class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "name", "Nombre"%></th>
    </tr>
  </thead>
  <tbody>
    <% @diseases.each do |disease| %>
      <tr>
        <td><%= disease.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @diseases %>
<br>
<button type="button" class="btn btn-primary" onclick="openDialog('disease_modal','<%= new_disease_path %>')">Nueva Enfermedad</button>
<div id="disease_modal" class="modal fade" tabindex="-1" role="dialog"></div>
