<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% unless error.blank? %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= error %></strong>
  </div>
<% end %>

<h1>Diseases</h1>

<table id="diseases" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Code</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @diseases.each do |disease| %>
      <tr>
        <td style="display:none;" class="id"><%= disease.id %></td>
        <td><%= disease.code %></td>
        <td><%= disease.name %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="<%= root_path %>" class="btn btn-default">Back</a>
<button type="button" class="btn btn-primary" onclick="openDialog('disease_modal','<%= new_disease_path %>')">New Disease</button>
<div id="disease_modal" class="modal fade" role="dialog"></div>

<script>
$( document ).ready(function() {
  formatTable('diseases', 'disease_modal', 'diseases');
});
</script>
