<p id="notice"><%= notice %></p>

<h1>Listing Visit Pending Activities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointment_pending_activities.each do |appointment_pending_activity| %>
      <tr>
        <td><%= link_to 'Show', visit_pending_activity %></td>
        <td><%= link_to 'Edit', edit_visit_pending_activity_path(visit_pending_activity) %></td>
        <td><%= link_to 'Destroy', visit_pending_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit pending activity', new_visit_pending_activity_path %>
