<%= form_for @patient, validate: true, html: {role: "form", class:"modal-form"} do |f| %>
  <div class="modal-header">
    <h4 class="modal-title">Personal Information</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :birth_date %><br>
      <div class="datetime">
      <%= f.date_select :birth_date, start_year:1900, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :dni %><br>
      <%= f.text_field :identifier, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address %><br>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone %><br>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone_mobile %><br>
      <%= f.text_field :phone_mobile, class: 'form-control' %>
    </div>
  </div>

  <div class="modal-header">
    <h4 class="modal-title">Contact Information</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label :contact_name %><br>
      <%= f.text_field :contact_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact_phone %><br>
      <%= f.text_field :contact_phone, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact_relationship %><br>
      <%= f.text_field :contact_relationship, class: 'form-control' %>
    </div>
  </div>

  <div class="modal-header">
    <h4 class="modal-title">Clinical Information</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label :base_medication %><br>
      <%= f.text_field :base_medication, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :referring_doctor %><br>
      <%= f.select(:referring_doctor_id,
        Doctor.all.map {|d| [ d.full_name, d.id ] },
        { include_blank: true },
        { class:'form-control' })
      %>
    </div>
    <div class="form-group">
      <%= f.label :qualifying_pathology %><br>
      <%= f.select(:qualifying_pathology_id,
        Disease.all.map {|d| [ d.name, d.id ] },
        { include_blank: true },
        { class:'form-control' })
      %>
    </div>
    <div class="form-group">
      <%= f.label :diseases %><br>
      <%= f.select(:disease_ids,
        Disease.all.map {|d| [ d.name, d.id ] },
        { },
        { multiple: true, class:'form-control' })
      %>
    </div>
    <div class="form-group">
      <%= f.label :target_protocol %><br>
      <%= f.select(:target_protocol_id,
        Protocol.all.map {|p| [ p.name, p.id ] },
        { include_blank: true },
        { class:'form-control' })
      %>
    </div>
    <div class="form-group">
      <%= f.label :clinical_history %><br>
      <%= f.text_area :clinical_history, rows: "10", class: 'form-control' %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="<%= patients_url %>" class="btn btn-default">Back</a>
    <button type="button" class="btn btn-primary <%= @patient.new_record? ? 'disabled' : '' %>" onclick="openDialog('patient_modal','<%= assign_protocol_patient_path(@patient) unless @patient.new_record? %>')">Assign Protocol</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
<% end %>

<div id="patient_modal" class="modal fade" role="dialog"></div>
