<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% unless error.blank? %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= error %></strong>
  </div>
<% end %>

<h1>Patients</h1>

<table id="patients" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Name</th>
      <th>Dni</th>
      <th>Phone</th>
      <th>Protocol</th>
      <th>Patient #</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td style="display:none;" class="id"><%= patient.id %></td>
        <td><%= patient.full_name %></td>
        <td><%= patient.identifier %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.protocol_name %></td>
        <td><%= patient.patient_number %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="<%= root_path %>" class="btn btn-default">Back</a>
<a class="btn btn-primary" href="<%= new_patient_path %>">New Patient</a>

<div id="patient_modal" class="modal fade" role="dialog"></div>

<script>
$( document ).ready(function() {
  formatTable('patients','', 'patients');
});
</script>
