<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>

<h1>Listado Pacientes</h1>

<%= form_tag protocols_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table id="patientsTable" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Dni</th>
      <th>Phone</th>
      <th>Protocol</th>
      <th>Patient #</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.full_name %></td>
        <td><%= patient.identifier %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.protocol_name %></td>
        <td><%= patient.patient_number %></td>
        <td>
          <a class="btn btn-primary" href="<%= patient_path(patient) %>">Edit</a>
          <button type="button" class="btn btn-primary" onclick="openDialog('patient_modal','<%= new_appointment_path %>?patient_id=<%= patient.id %>')">Appointment</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a class="btn btn-primary" href="<%= new_patient_path %>">Nuevo Paciente</a>
<div id="patient_modal" class="modal fade" tabindex="-1" role="dialog"></div>
