<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>

<h1>Listado Doctores Refererentes</h1>

<table id="doctors" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Name</th>
      <th>Specialty</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td style="display:none;" class="id"><%= doctor.id %></td>
        <td><%= doctor.full_name %></td>
        <td><%= doctor.specialty %></td>
        <td><%= doctor.mail %></td>
        <td><%= doctor.phone %></td>
        <td><%= doctor.address %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button type="button" class="btn btn-primary" onclick="openDialog('doctor_modal','<%= new_doctor_path %>')">Nuevo Doctor</button>
<div id="doctor_modal" class="modal fade" role="dialog"></div>

<script>
$( document ).ready(function() {
  var buttons = "<button type='button' class='patients btn btn-primary'>Patients</button>"
  formatTable('doctors', 'doctor_modal', 'doctors', buttons);
  addTableButtonAction('doctors','button.patients','doctor_modal','doctors','patients')
});

</script>
