<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% unless error.blank? %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= error %></strong>
  </div>
<% end %>

<% if finance_person? %>

<h1>CIM Doctors Payments</h1>

From: <input type="text" id="fromDate" name="fromDate" class="form-control"></td>
To: <input type="text" id="toDate" name="toDate" class="form-control"></td>

<br>

<table id="payments" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Receiver</th>
      <th>Patient</th>
      <th>Protocol</th>
      <th>Visit</th>
      <th>Visit Type</th>
      <th>Amount</th>
      <th>Created Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td style="display:none;" class="id"><%= payment.id %></td>
        <td><%= payment.receiver %></td>
        <td><%= "#{payment.appointment.patient.full_name} (#{payment.appointment.patient.patient_number})"%></td>
        <td><%= payment.appointment.visit.protocol.name %></td>
        <td><%= payment.appointment.visit.name %></td>
        <td><%= payment.appointment.visit.visit_type.name %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.created_at %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="<%= root_path %>" class="btn btn-default">Back</a>
<% end %>

<script>
$( document ).ready(function() {
  pushRangeSearch('fromDate','toDate', 4)
  var table = formatTable('payments', '', 'payments');
  $('#fromDate, #toDate').keyup( function() {
      table.draw();
  });
});
</script>
