<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>

<h1>Payments</h1>

<table id="payments" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Receiver</th>
      <th>Reason</th>
      <th>Amount</th>
      <th>Created Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td style="display:none;" class="id"><%= payment.id %></td>
        <td><%= payment.receiver.full_name %></td>
        <td><%= payment.reason %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.created_at %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="<%= root_path %>" class="btn btn-default">Back</a>

<script>
$( document ).ready(function() {
  formatTable('payments', 'protocol_modal', 'payments');
});
</script>
