<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>

<h1>Listado Protocolos</h1>

<table id="protocols" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Nombre</th>
      <th>Objetivo Pacientes</th>
      <th>PI</th>
      <th>Sub Investigador</th>
      <th>Coordinador</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @protocols.each do |protocol| %>
      <tr>
        <td style="display:none;" class="id"><%= protocol.id %></td>
        <td><%= protocol.name %></td>
        <td><%= protocol.patients_commitment %></td>
        <td><%= protocol.principal_investigator.full_name %></td>
        <td><%= protocol.sub_investigator.full_name %></td>
        <td><%= protocol.coordinator.full_name %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-primary" onclick="openDialog('protocol_modal','<%= new_protocol_path %>')">Nuevo Protocolo</button>
<div id="protocol_modal" class="modal fade" tabindex="-1" role="dialog"></div>

<script>
$( document ).ready(function() {
  formatTable('protocols', 'protocol_modal', 'protocols');
});
</script>
