<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>
<% unless error.blank? %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= error %></strong>
  </div>
<% end %>

<h1>Protocols</h1>

<table id="protocols" class="datatable">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Code</th>
      <th>Name</th>
      <th>Sponsor</th>
      <th>Patients comm</th>
      <th>PI</th>
      <th>Coordinator</th>
      <th>Monitor Name</th>
      <th>Monitor email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @protocols.each do |protocol| %>
      <tr>
        <td style="display:none;" class="id"><%= protocol.id %></td>
        <td><%= protocol.code %></td>
        <td><%= protocol.name %></td>
        <td><%= protocol.sponsor_name %></td>
        <td><%= protocol.patients_commitment %></td>
        <td><%= protocol.principal_investigator_full_name %></td>
        <td><%= protocol.coordinator_full_name %></td>
        <td><%= protocol.monitor_name %></td>
        <td><%= protocol.monitor_email %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="<%= root_path %>" class="btn btn-default">Back</a>
<a href="<%= new_protocol_path %>" class="btn btn-primary">New Protocol</a>

<script>
$( document ).ready(function() {
  formatTable('protocols', '', 'protocols');
});
</script>
