<%= form_for @appointment, validate: true, html: {role: "form", class:"modal-form"} do |f| %>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add / Update Appointment</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label :patient %><br>
        <%= f.select(:patient_id,
          Patient.all.map {|u| [ u.full_name, u.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
      <div id="next_visit_info" class="alert alert-warning" style="display:none">
        <div id="visit_name"></div>
        <div id="visit_date"></div>
      </div>
      <div class="form-group">
        <%= f.label :start_time %><br>
        <div class="datetime">
        <%= f.datetime_select :start_time, ampm:true, minute_step:30, class: 'form-control'%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :doctor %><br>
        <%= f.select(:doctor_id,
          User.all.map {|u| [ u.full_name, u.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
      <div class="form-group">
        <%= f.label :place %><br>
        <%= f.select(:place_id,
          AppointmentRoom::Collection.map {|r| [ r.name, r.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
      <div class="form-group">
        <%= f.label :visit %> (Protocol - Visit)<br>
        <%= f.select(:visit_id,
          Visit.all.map {|v| [ v.complete_name, v.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("select#appointment_patient_id").change(function(){
      var patient_id = $(this).val();
      if (patient_id == "") {
        cleanForm();
      } else {
        updateVisits(patient_id);
      };
    });
 });

 function updateVisits(patient_id) {
   $.ajax({
     dataType: "json",
     cache: false,
     url: '/appointments/update_visits/' + patient_id,
     timeout: 2000,
     error: function(XMLHttpRequest, errorTextStatus, error){
       alert("Failed to load visits : "+ errorTextStatus+" ;"+error);
     },
     success: function(data){
       cleanForm();
       // Fill visits select
       $('#visit_name').append("<b> Next Visit: " + data["next_visit"].name)
       $('#visit_date').append("<b> Visit Date Range is : " + data["next_visit_date"][0] + " - " + data["next_visit_date"][1])
       $('#visit_date').append("<br><b>If visit date is not in the expected range it could end in a minor deviation. <br>")
       $('#next_visit_info').show();
       $.each(data["visits"], function(i, visit){
           row = "<option value=\"" + visit.id + "\">" + visit.name + "</option>";
           $(row).appendTo("select#appointment_visit_id");
       });
       $("select#appointment_visit_id").val(data["next_visit"].id)
     }
   });
 }

 function cleanForm() {
   // Clear all options from sub category select
   $("select#appointment_visit_id option").remove();
   //put in a empty default line
   var row = "<option value=\"" + "" + "\">" + "" + "</option>";
   $(row).appendTo("select#appointment_visit_id");

   $('#visit_name').empty();
   $('#visit_date').empty();
   $('#next_visit_info').hide();
 }

</script>
