<%= form_for @appointment, validate: true, html: {role: "form", class:"modal-form"} do |f| %>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add / Update Appointment</h4>
    </div>
    <div class="modal-body">
      <%= f.fields_for :patient, @appointment.patient do |p| %>
      <div class="form-group">
        <%= p.label :full_name %><br>
        <%= p.text_field :full_name, class: 'form-control'%>
      </div>
      <% end %>
      <%= f.hidden_field :patient_id %>
      <div class="form-group">
        <%= f.label :start_time %><br>
        <%= f.datetime_select :start_time, ampm:true, minute_step:30, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :doctor %><br>
        <%= f.select(:doctor_id,
          User.all.map {|u| [ u.full_name, u.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
      <div class="form-group">
        <%= f.label :place %><br>
        <%= f.select(:place_id,
          AppointmentRoom::Collection.map {|r| [ r.name, r.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
      <div class="form-group">
        <%= f.label :visit %><br>
        <%= f.select(:visit_id,
          @appointment.visits.map {|v| [ v.name, v.id ] },
          { include_blank: true },
          { class:'form-control' })
        %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<% end %>
