<% unless notice.blank? %>
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><%= notice %></strong>
  </div>
<% end %>

<h1>Listado Turnos</h1>

<%= form_tag protocols_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table id="appointments" class="table table-striped">
  <thead>
    <tr>
      <th>Fecha / Hora</th>
      <th>Paciente</th>
      <th>Doctor</th>
      <th>Lugar</th>
      <th>Visita</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.start_time %></td>
        <td><%= appointment.patient.full_name %></td>
        <td><%= appointment.doctor.full_name %></td>
        <td><%= appointment.appointment_room.name %></td>
        <td><%= appointment.visit.name %></td>
        <td>
          <button type="button" class="btn btn-primary" onclick="openDialog('appointment_modal','<%= edit_appointment_path(appointment) %>')">Edit</button>
          <a class="btn btn-primary" href="<%= appointment_path(appointment) %>">Show</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="<%= root_path %>" class="btn btn-default">Back</a>
<div id="appointment_modal" class="modal fade" role="dialog"></div>
