<%= form_for @appointment, validate: true, html: {role: "form", class:"modal-form"} do |f| %>
    <div class="modal-header">
      <h4 class="modal-title">Appointment</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label :start_time %><br>
        <%= f.text_field :start_time, class: 'form-control', disabled: true %>
      </div>
      <div class="form-group">
        <%= f.label :doctor %><br>
        <%= f.text_field :doctor_full_name, class: 'form-control', disabled: true %>
      </div>
      <div class="form-group">
        <%= f.label :place %><br>
        <%= f.text_field :place_name, class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="modal-header">
      <h4 class="modal-title">Visit Info</h4>
    </div>
      <div class="modal-body">
      <%= f.fields_for :visit, @appointment.visit do |v| %>
      <div class="form-group">
        <%= v.label :protocol %><br>
        <%= v.text_field :protocol_name, class: 'form-control', disabled: true %>
      </div>
      <div class="form-group">
        <%= v.label :name %><br>
        <%= v.text_field :name, class: 'form-control', disabled: true %>
      </div>
      <div class="form-group">
        <%= v.label :duration %><br>
        <%= v.text_field :duration, class: 'form-control', disabled: true %>
      </div>
      <div class="form-group">
        <%= v.label :activities %><br>
        <%= v.text_field :activities, class: 'form-control', disabled: true %>
      </div>
      <% end %>
    </div>

    <div class="modal-header">
      <h4 class="modal-title">Patient Info</h4>
    </div>
      <div class="modal-body">
      <%= f.fields_for :patient, @appointment.patient do |v| %>
      <div class="form-group">
        <%= v.label :patient_number %><br>
        <%= v.text_field :patient_number, class: 'form-control', disabled: true %>
      </div>
      <div class="form-group">
        <%= v.label :full_name %><br>
        <%= v.text_field :full_name, class: 'form-control', disabled: true %>
      </div>
      <div class="form-group">
        <%= v.label :clinical_history %><br>
        <%= v.text_area :clinical_history, rows: "10", class: 'form-control'%>
      </div>
      <% end %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Visit Done</button>
    </div>

<% end %>
