<!DOCTYPE html>
<html>
<head>
  <title>Cimmdp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <% if current_user %>
      Signed in as <strong><%= current_user.first_name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <%= yield %>
    <% else %>
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <% end %>
  </div>
</body>

<script>
  function openDialog(container, url) {
    $("#" + container).load(url).modal();
  }

  function formatTable(container, modal_container, model, buttons = '') {
    $("#" + container).DataTable({
      "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent":
              "<button type='button' class='edit btn btn-primary'>Edit</button>" + buttons
        } ]
    });

    $("#" + container +" tbody").on('click', 'button.edit', function () {
      var id = $(this).parents('tr').find('.id').text()
      openDialog(modal_container,'/' + model + '/' + id)
    } );
  }

  function addTableButtonAction(container, button_class, modal_container, model, url) {
    $("#" + container +" tbody").on('click', button_class, function () {
      var id = $(this).parents('tr').find('.id').text()
      openDialog(modal_container,'/' + model + '/' + id + '/' + url)
    } );
  }

  function configureClientValidation() {
    $(document).on('shown.bs.modal', function () { $(ClientSideValidations.selectors.forms).validate(); });
  }

  $(document).ready(function() {
    $('select').select2();
    $('.modal-form').enableClientSideValidations();
  });
</script>
</html>
